<form method="post" id="form-register">
  {% csrf_token %}
  <div class="space-y-4">
    {% for field in form %}
      <div class="space-y-2">
        <label class="block text-sm font-medium text-slate">
            {{ field.label }}
        </label>
        <div class="mt-1">
          {{ field }}
        </div>
        {% if field.errors %}
            <p class="mt-1 text-sm text-red-600">{{ field.errors|join:", " }}</p>
        {% endif %}
      </div>
    {% endfor %}
        
    <div class="pt-4">
      <button type="submit" class="w-full bg-slate hover:bg-slate/90 text-white font-medium py-3 px-4 rounded-lg transition duration-200">
          Create Account
      </button>
    </div>
  </div>
</form>

